<table>
	<tr>
		<th>Name:</th>
		<th>Address:</th>
		<th>Phone_no:</th>
	</tr>
	<tr>
		<td><%= @user.name %></td>
		<td><%= @user.address %></td>
		<td><%= @user.phone_no %></td>
	</tr>
</table>