 <table class="tb">
            <tr>
              <th>
                User_id
              </th>
              <th>
                Standard
              </th>
              <!-- <th colspan="2">
                Action
              </th> -->
            </tr>
            <% @standards.each do |u| %>
              <tr>
                   <td>
                      <%= u.user_id %>
                   </td>  
                   <td>
                     <%= u.standard_name %>
                   </td>
                  <!-- <td><%= link_to 'Edit', "/edit/#{u.id}", data: { remote: true, toggle: "modal", target: "#myModal" } %></td>

                   <td><%= link_to 'Delete', "/delete_class/#{u.id}"  ,method: :delete ,data: { confirm: 'Are you sure?'}  %>
                   </td> -->
              </tr>
            <% end %>
</table>
