<div class="blog">
	<div class="box1">
	<%= form_for @standard, url: "standard/create" do |f| %>
		<table>
			<tr><td>Class_Name : </td><td><%= f.text_field :standard_name, class: "field",:required => true %></td></tr>
			<tr><td style="text-align:center"><%= f.submit 'Submit', class: "btn2" %></td></tr>
		</table>
	<% end %>
	</div>
</div>

<div id="standard_listing" class="form">
	<%= render(:partial => "standard_list")%>
</div>