<!DOCTYPE html>
<html>
<head>
	<style>
			body {
			  background-image: url(assets/city_night.jpg); 
			  /*-webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;*/
			  background-size:100%; 
			  
			}
			.panel-default {
				opacity: 0.8;
				margin-top:30px;
				z-index: 99999;
				padding-top: 50px;
				text-align: center;
				height: 650px;
			}
			/*#page1{
				z-index: 99999;
				padding-top: 50px;
				text-align: center;
				height:540px;
				width:100%;
			}*/
			#hm{
				height:100%;
				width:100%;
			}
	</style>
	<title>Home page</title>
	<script type="text/javascript">
		$("#heading").html("Welcome to home page....");
	</script>
</head>
<body>
	<div class ="panel-default">
		<h1>Welcome to home-page</h1>
	</div>
</body>
</html>