 <table class="form1">
            <tr>
                <th>
                  Name :
                </th>
                <td><%= @book.name %></td>
              </tr>
              <tr>
                  <th>
                    Title:
                  </th>
                  <td><%= @book.title %></td>
              </tr>
              <tr>
                  <th>
                    Author:
                  </th>
                  <td><%= @book.auther %></td>
              </tr>
              <tr>
                  <th>
                    Privecy:
                  </th>
                  <td><%= @book.privecy %></td>
            </tr>
  </table>