
	<div class="bg">
	<div class="form">
		<%= render(:partial => "form" ,:controller=>"books") %><br>
	</div>
	<br><br>
	<div id="book_listing" class="form1">
		<%= render(:partial => "list_books",:controller=>"books")%>
	</div>
	</div>