<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<style type="text/css">
		body{
			background-image: url(assets/3.blur.jpg);
			background-size: 100%;
			}
			.print{
				opacity: 0.8;
				margin-top: 90px;
				color: #4e2c37;
				font-family: italic;
				text-align: center;
				font-size: 100px;
			}
	</style>
	<script type="text/javascript">
		$("#heading").html("Welcome to home page....");
	</script>
</head>
	<body>
		<div class="penal-default">
			<h1 class="print">Welcome to My applicarion</h1>
		</div>
	</body>
</html>