<form style="margin-top:250px;" action="/test_sanitize">
	<textarea name="name"></textarea> 
	<input type="submit" name="submit" value="submit">
</form>
<!-- <script type="text/javascript">
	alert('Hello')
</script> -->