<div class="bg">
	<div class="form2">
		<h4 class="tb">welcome to your page : <%= session[:username] %></h4>
		<%= link_to 'Blog_page', "/profile" %>
	</div>
</div>
<script type="text/javascript">
	$("#heading").html("Welcome to your page");
</script>