<div class="bg">
	<div class="form">
		<h3 class="tb">You have successfully logout...</h3>
	</div>
</div>
<script type="text/javascript">
		$("#heading").html("successfully logout...");
</script>