<div class="blog">
  <div class="box1">
  <%= form_for @subject, url: "subject/create" do |f| %>
    <table>
      <tr><td>Subject_Name : </td><td><%= f.text_field :subject_name, class: "field",:required => true %></td></tr>
      <tr><td style="text-align:center"><%= f.submit 'Submit', class: "btn2" %></td></tr>
    </table>
  <% end %>
  </div>
</div>
<div id="subject_listing" class="form">
  <%= render(:partial => "subject_list")%>
</div>